<li class="list-item task-item">

    <div class="checkbox task-item__checkbox">
        <input class="checkbox__control" id="{{task.id}}" type="checkbox"/>
        <label for="{{task.id}}"></label>
    </div>

    <div class="task-item__info" ng-click="taskCtrl.toggleSelection()">
        <span class="task-item__name">
            {{task.name}}
        </span>

        <span ng-transclude>
        </span>
    </div>

    <div class="task-item__notification" ng-click="taskCtrl.toggleSelection()">
        <span class="task-item__label task-item__label_notification" ng-show="!!task.notificationTime">
            {{task.notificationTime}}
        </span>

        <span class="task-item__label task-item__label_access-time" ng-show="!!task.accessTime">
            {{task.accessTime}}
        </span>
    </div>

    <div class="task-item__buttons"
         ng-class="{'task-item__buttons_active' : !!taskCtrl.isSelected}"
         ng-click="taskCtrl.toggleSelection()">

        <a ui-sref="todo" class="button task-item__start">
        </a>

        <a ui-sref="todo" class="button task-item__edit">
        </a>
    </div>
</li>