.button {
  @include background-colors-with-hover();
  display: block;
  text-align: center;
  height: 100%;
  outline: none;
  border: 0;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    background-color: $hover-color;
  }

  &-container {
    display: table;
    width: 100%;
    margin-top: 28px;
    margin-bottom: 12px;
  }

  &__new-task {
    @extend %control;
    display: table-cell;
    margin-left: 5%;
    border: 0;
    width: 30%;
    outline: none;
    @include colorize-all($gray-scale-0, $color-blue);

    &:first-child {
      margin-left: 0;
    }
  }
}
