.button {
  @include background-colors-with-hover();

  display: block;
  text-align: center;
  height: 100%;
  outline: none;
  border: 0;
  background-color: transparent;
  &:hover {
    background-color: $hover-color;
  }

  &__new-task {
    background: #0975da;
    border-radius: 4px;
  }
}
