.text-box {
  display: block;
  width: 100%;
  padding-top: 22px;

  &_half {
    width: 40%;
  }

  input[type='text'] {
    display: block;
    width: 97%;
    height: 30px;
    padding: 0 5px;
    border: 1px solid $gray-scale-4;
    border-radius: 4px;
  }

  &__label {
    text-align: center;
    display: block;
    margin-bottom: 3px;
    text-transform: uppercase;
    @include font-bold(7px);
    color: $gray-scale-3;
  }
}
