.text-box {
  display: block;
  width: 100%;
  padding-top: 20px;

  &_half {
    width: 40%;
  }

  &__control {
    @extend %control;
    width: 100%;
    padding: 0 5px;
    border: 1px solid $gray-scale-4;
  }

  &__label {
    text-align: center;
    display: block;
    margin-bottom: 2px;
    text-transform: uppercase;
    @include font-bold(8px);
    color: $gray-scale-3;
  }
}
