.new-task {
  display: block;
  position: relative;
  width: 100%;
  min-width: $mobile-min-width;
  max-width: $desktop-page-max-width/2;
  margin: 0 auto;
  height: 100vh;
  background: #fff;

  &-wrapper {
    vertical-align: top;
    height: 100%;
    overflow-y: auto;
  }

  &-content {
    padding: 0 16px;
  }
}
