<dw-task-header>add new task
</dw-task-header>

<form role="form" ng-controller="createTaskCtrl" class="new-task" name="createTask" ng-submit="createTask.$valid && addNewProject()" novalidate>

<div class="text-box" ng-class="{'has-error': !createTask.$pristine && submitted && createTask.taskName.$invalid}">
        <label class="text-box__label" for="taskName">task name</label>
        <input class="text-box__control" id="taskName" type="text" name="taskName" ng-model="name" ng-minlength="2" required>

        <div class="text-box__label"
          ng-class="{'error-message': createTask.taskName.$invalid && submitted}"
          ng-if="createTask.taskName.$error.required && submitted">
            This field is required
        </div>
        <div class="text-box__label"
          ng-class="{'error-message': createTask.taskName.$invalid && submitted}"
          ng-if="createTask.taskName.$error.minlength && submitted">
            Too short name of task
        </div>
    </div>

    <div class="text-box">
        <label class="text-box__label" for="selectProject">project</label>
        <select class="text-box__control" id="selectProject" name="selectProject" ng-model="selection.id">
          <option ng-repeat="project in projects">{{project.name}}</option>
        </select>
    </div>

    <div class="button-container">
        <button class="button__new-task">Today</button>
        <button class="button__new-task">Tomorrow</button>
        <button class="button__new-task">Pick date</button>
    </div>

    <div class="text-box text-box_half">
        <label class="text-box__label" for="timeNotification">time</label>
        <input class="text-box__control" id="timeNotification" name="timeNotification" type="text">
    </div>

    <div class="button-container">
        <button class="button__new-task" type="reset" ng-click="submitted = false; createTask.$pristine = true">Cancel</button>
        <button class="button__new-task">Add Next</button>
        <button class="button__new-task" type="submit"
          ng-class="{'disabled': !createTask.$pristine && createTask.$invalid}"
          ng-disabled="!createTask.$pristine && submitted && createTask.$invalid"
          ng-click="createTask.$pristine || (submitted = true); createTask.$pristine = false"
      >OK</button>
    </div>

</form>
