$header-text-color: $gray-scale-4;

.header {
  @include background-colors();
  display: block;
  z-index: 9;
  position: relative;
  width: 100%;
  height: $header-size;
  background-color: $gray-scale-1;
  color: $gray-scale-4;

  &-button_left,
  &-button_right {
    position: absolute;
    top: 0;
    z-index: 10;
    width: $header-size;
    height: $header-size;
    cursor: pointer;

    &:hover {
      background-color: $hover-color;
    }
  }

  &-button_left {
    left: 0;

    @include media-tablet {
      display: none;
    }
  }

  &-button_right {
    right: 0;
  }

  &__menu-button,
  &__add-task-button,
  &__close-new-task {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 20px;
      left: 12px;
      width: 20px;
      height: 4px;
      background: $gray-scale-4;
    }
  }

  &__add-task-button,
  &__close-new-task {

    &::after {
      content: '';
      position: absolute;
      top: 12px;
      left: 20px;
      width: 4px;
      height: 20px;
      background: $gray-scale-4;
    }
  }

  &__menu-button {

    &::before {
      box-shadow: 0 8px 0 0 $gray-scale-4,
                  0 -8px 0 0 $gray-scale-4;
    }
  }

  &__close-new-task {

    &::before,
    &::after {
      transform: rotate(45deg);
    }
  }

  &__title {
    display: block;
    padding: 0 $header-size;
    @include font-semi-bold(14px);
    line-height: $header-size;
    text-transform: uppercase;
    text-align: center;
    @extend %text-in-one-line;
  }

  &__project {
    text-decoration: none;
    color: inherit;

    &:after {
      content: "";
      margin-left: 3px;
      vertical-align: baseline;
      @extend .icon;
      text-overflow: clip;
      @include retina-sprite($icon-create-group);
    }
  }

  &_colored {
    .header {
      &__menu-button {

        &::before {
          background: white;
          box-shadow: 0 8px 0 0 white,
                      0 -8px 0 0 white;
        }
      }

      &__add-task-button {

        &::before,
        &::after {
          background: white;
        }
      }
    }
  }
}
